<xf:js prod="xf/token_input-compiled.js"
       dev="vendor/select2/select2.full.min.js, xf/token_input.js" />
<xf:js src="Truonglv/CryptoWidget/search.js"
       addon="Truonglv/CryptoWidget"
       min="1" />

<xf:css src="public:select2.less" />

<xf:js>
    jQuery.extend(XF.phrases, {
        s2_error_loading: "{{ phrase('s2_error_loading')|escape('js') }}",
        s2_input_too_long: "{{ phrase('s2_input_too_long')|escape('js') }}",
        s2_input_too_short: "{{ phrase('s2_input_too_short')|escape('js') }}",
        s2_loading_more: "{{ phrase('s2_loading_more')|escape('js') }}",
        s2_maximum_selected: "{{ phrase('s2_maximum_selected')|escape('js') }}",
        s2_no_results: "{{ phrase('s2_no_results')|escape('js') }}",
        s2_searching: "{{ phrase('s2_searching')|escape('js') }}"
    });
</xf:js>
<xf:textboxrow name="options[crypto_ids]" value=""
               data-allow-cryptos="{$cryptoList|json}"
               data-value="{$options.crypto_ids|json}"
               data-xf-init="crypto-widget-search"
               label="{{ phrase('tl_crypto_widget.show_cryptos') }}" />