<xf:if is="$data">
    <div class="block">
        <div class="block-container">
            <xf:if is="$title"><h3 class="block-minorHeader">{$title}</h3></xf:if>
            <div class="block-body">
                <xf:datalist class="dataList--separatedTop">
                    <xf:foreach loop="$data" value="$item">
                        <xf:datarow>
                            <xf:cell>
                                <xf:if is="$item.iconUrl">
                                    <img src="{$item.iconUrl}" width="32" height="32" />
                                </xf:if>
                                {$item.symbol}
                            </xf:cell>
                            <xf:cell class="dataList-cell--min"
                                     style="text-align:right">{$item.price|currency('USD')}</xf:cell>
                        </xf:datarow>
                    </xf:foreach>
                </xf:datalist>
            </div>
        </div>
    </div>
</xf:if>